
.ca{
	padding: 10px;
}
.all{
	display: inline-block;
	width: 100%;
	padding: 10px;
}
.categories{
	display: inline-block;
	width: 100%;
	padding: 10px;
}

.postDetai{
	display: inline-block;
	width: 100%;
	padding: 10px;
}